In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("dates").getOrCreate()

In [137]:
# Read in data and store in dataframe
#csv = "Resources/test10K.csv"
csv = "Resources/GoBikeMerged2017_2018.csv"
df = spark.read.csv(csv, header=True, inferSchema=True)

In [138]:
# Show dataframe
df.show()

+---+-------+------------+--------------+--------------------+---------------------+--------------------+--------------------+-----------------+-------------+----------------+----------------------+-----------------------+--------------------+--------------------+----------+------------------+-------------+------------------+-----------+-------+--------+-------------------+
|_c0|bike_id|duration_sec|end_station_id|end_station_latitude|end_station_longitude|    end_station_name|            end_time|member_birth_year|member_gender|start_station_id|start_station_latitude|start_station_longitude|  start_station_name|          start_time| user_type|start_neighborhood|start_zipcode|  end_neighborhood|end_zipcode|temp(f)|pressure|weather_description|
+---+-------+------------+--------------+--------------------+---------------------+--------------------+--------------------+-----------------+-------------+----------------+----------------------+-----------------------+--------------------+--------------------+----------+------------------+-------------+------------------+-----------+-------+--------+-------------------+
|  0|    240|         424|          48.0|  37.782411189735896|  -122.39270595839115| 2nd St at S Park St|2017-06-28 09:54:...|           1985.0|       Female|            21.0|            37.7896254|            -122.400811|Montgomery St BAR...|2017-06-28 09:47:...|Subscriber|   South of Market|      94104.0|       China Basin|    94107.0|   62.0|  1021.0|         light_rain|
|  1|    669|         366|          59.0|           37.774814|          -122.418954|S Van Ness Ave at...|2017-06-28 09:53:...|           1981.0|         Male|            58.0|             37.776619|            -122.417385|Market St at 10th St|2017-06-28 09:47:...|Subscriber|      Civic Center|      94103.0|   South of Market|    94103.0|   62.0|  1021.0|         light_rain|
|  2|    117|         188|          48.0|  37.782411189735896|  -122.39270595839115| 2nd St at S Park St|2017-06-28 09:52:...|           1984.0|         Male|            25.0|     37.78752178045625|    -122.39740490913393| Howard St at 2nd St|2017-06-28 09:49:...|Subscriber|      The East Cut|      94105.0|       China Basin|    94107.0|   62.0|  1021.0|         light_rain|
|  3|     77|        1201|           9.0|   37.79857210846257|  -122.40086898207666|Broadway at Batte...|2017-06-28 10:11:...|           1985.0|         Male|            81.0|              37.77588|             -122.39317|  Berry St at 4th St|2017-06-28 09:50:...|Subscriber|       China Basin|      94107.0|Financial District|    94111.0|   62.0|  1021.0|         light_rain|
|  4|    316|         431|         321.0|   37.78014570345598|  -122.40307085237872|       5th at Folsom|2017-06-28 10:03:...|           1973.0|         Male|            66.0|     37.77874161153677|    -122.39274082710837|3rd St at Townsen...|2017-06-28 09:56:...|Subscriber|       China Basin|      94107.0|   South of Market|    94107.0|   62.0|  1021.0|         light_rain|
|  5|    605|        1086|          90.0|           37.771058|          -122.402717|Townsend St at 7t...|2017-06-28 10:15:...|           1958.0|         Male|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 09:56:...|Subscriber|       Embarcadero|      94105.0|       Mission Bay|    94103.0|   62.0|  1021.0|         light_rain|
|  6|    272|         730|          44.0|          37.7810737|         -122.4117382|Civic Center/UN P...|2017-06-28 10:10:...|           1980.0|         Male|            23.0|     37.79146400000001|            -122.391034|The Embarcadero a...|2017-06-28 09:58:...|Subscriber|       South Beach|         null|        Mid-Market|    94103.0|   62.0|  1021.0|         light_rain|
|  7|    400|         435|          45.0|           37.781752|          -122.405127| 5th St at Howard St|2017-06-28 10:08:...|           1991.0|         Male|            81.0|              37.77588|             -122.39317|  Berry St at 4th St|2017-06-28 10:00:...|Subscriber|       China Basin|      94107.0|   South of Market|    94103.0|   64.0|  1015.0|         light_rain|
|  8|    212|         590|          22.0|           37.789756|          -122.394643|Howard St at Beal...|2017-06-28 10:10:...|           1983.0|         Male|            66.0|     37.77874161153677|    -122.39274082710837|3rd St at Townsen...|2017-06-28 10:00:...|Subscriber|       China Basin|      94107.0|   South of Market|    94105.0|   64.0|  1015.0|         light_rain|
|  9|    915|         553|          50.0|           37.780526|  -122.39028799999998|2nd St at Townsen...|2017-06-28 10:18:...|           1973.0|         Male|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:09:...|Subscriber|       Embarcadero|      94105.0|   South of Market|    94107.0|   64.0|  1015.0|         light_rain|
| 10|    331|         640|          21.0|          37.7896254|          -122.400811|Montgomery St BAR...|2017-06-28 10:22:...|           1978.0|         Male|            66.0|     37.77874161153677|    -122.39274082710837|3rd St at Townsen...|2017-06-28 10:11:...|Subscriber|       China Basin|      94107.0|   South of Market|    94104.0|   64.0|  1015.0|         light_rain|
| 11|    216|        5441|          42.0|            37.77865|           -122.41823|San Francisco Cit...|2017-06-28 11:42:...|           1974.0|         Male|            45.0|             37.781752|            -122.405127| 5th St at Howard St|2017-06-28 10:11:...|  Customer|   South of Market|      94103.0|      Civic Center|    94102.0|   64.0|  1015.0|         light_rain|
| 12|    106|        2431|          42.0|            37.77865|           -122.41823|San Francisco Cit...|2017-06-28 10:53:...|           1979.0|       Female|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:12:...|Subscriber|       Embarcadero|      94105.0|      Civic Center|    94102.0|   64.0|  1015.0|         light_rain|
| 13|    200|         889|          23.0|   37.79146400000001|          -122.391034|The Embarcadero a...|2017-06-28 10:27:...|           1984.0|       Female|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:12:...|Subscriber|       Embarcadero|      94105.0|       South Beach|       null|   64.0|  1015.0|         light_rain|
| 14|    122|        1909|          42.0|            37.77865|           -122.41823|San Francisco Cit...|2017-06-28 10:45:...|           1984.0|         Male|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:13:...|Subscriber|       Embarcadero|      94105.0|      Civic Center|    94102.0|   64.0|  1015.0|         light_rain|
| 15|    248|        1908|          42.0|            37.77865|           -122.41823|San Francisco Cit...|2017-06-28 10:45:...|           1989.0|         Male|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:13:...|Subscriber|       Embarcadero|      94105.0|      Civic Center|    94102.0|   64.0|  1015.0|         light_rain|
| 16|    196|         410|          15.0|           37.795392|          -122.394203|San Francisco Fer...|2017-06-28 10:21:...|           1979.0|         Male|            11.0|              37.79728|            -122.398436|Davis St at Jacks...|2017-06-28 10:14:...|Subscriber|Financial District|      94111.0|       Embarcadero|    94105.0|   64.0|  1015.0|         light_rain|
| 17|     20|         278|          13.0|           37.794231|          -122.402923|Commercial St at ...|2017-06-28 10:20:...|           1952.0|         Male|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:16:...|Subscriber|       Embarcadero|      94105.0|Financial District|    94111.0|   64.0|  1015.0|         light_rain|
| 18|     21|        2227|          42.0|            37.77865|           -122.41823|San Francisco Cit...| 2017-06-28 10:53:38|           1945.0|         Male|            15.0|             37.795392|            -122.394203|San Francisco Fer...|2017-06-28 10:16:...|Subscriber|       Embarcadero|      94105.0|      Civic Center|    94102.0|   64.0|  1015.0|         light_rain|
| 19|    118|        2349|          42.0|            37.77865|           -122.41823|San Francisco Cit...|2017-06-28 10:55:...|             null|         null|            28.0|     37.78716801474664|    -122.38809792330359|The Embarcadero a...|2017-06-28 10:16:...|  Customer|       Embarcadero|      94105.0|      Civic Center|    94102.0|   64.0|  1015.0|         light_rain|
+---+-------+------------+--------------+--------------------+---------------------+--------------------+--------------------+-----------------+-------------+----------------+----------------------+-----------------------+--------------------+--------------------+----------+------------------+-------------+------------------+-----------+-------+--------+-------------------+
only showing top 20 rows

In [139]:
df = df.select(['_c0', 'start_time', 'pressure', 'temp(f)', 'weather_description'])
df.show()

+---+--------------------+--------+-------+-------------------+
|_c0|          start_time|pressure|temp(f)|weather_description|
+---+--------------------+--------+-------+-------------------+
|  0|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|
|  1|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|
|  2|2017-06-28 09:49:...|  1021.0|   62.0|         light_rain|
|  3|2017-06-28 09:50:...|  1021.0|   62.0|         light_rain|
|  4|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|
|  5|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|
|  6|2017-06-28 09:58:...|  1021.0|   62.0|         light_rain|
|  7|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|
|  8|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|
|  9|2017-06-28 10:09:...|  1015.0|   64.0|         light_rain|
| 10|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|
| 11|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|
| 12|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|
| 13|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|
| 14|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|
| 15|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|
| 16|2017-06-28 10:14:...|  1015.0|   64.0|         light_rain|
| 17|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|
| 18|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|
| 19|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|
+---+--------------------+--------+-------+-------------------+
only showing top 20 rows

In [140]:
# Find day of the week
from pyspark.sql.functions import dayofweek

In [141]:
 #df.select(dayofweek('datetime_PST').alias('day')).collect()

In [142]:
# Save the day of the week as a new column
df = df.withColumn("day_of_week", dayofweek('start_time'))
df.show()

+---+--------------------+--------+-------+-------------------+-----------+
|_c0|          start_time|pressure|temp(f)|weather_description|day_of_week|
+---+--------------------+--------+-------+-------------------+-----------+
|  0|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|
|  1|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|
|  2|2017-06-28 09:49:...|  1021.0|   62.0|         light_rain|          4|
|  3|2017-06-28 09:50:...|  1021.0|   62.0|         light_rain|          4|
|  4|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|
|  5|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|
|  6|2017-06-28 09:58:...|  1021.0|   62.0|         light_rain|          4|
|  7|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|
|  8|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|
|  9|2017-06-28 10:09:...|  1015.0|   64.0|         light_rain|          4|
| 10|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|
| 11|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|
| 12|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|
| 13|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|
| 14|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|
| 15|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|
| 16|2017-06-28 10:14:...|  1015.0|   64.0|         light_rain|          4|
| 17|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|
| 18|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|
| 19|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|
+---+--------------------+--------+-------+-------------------+-----------+
only showing top 20 rows

In [149]:
# Save the day of the week as a new column
from pyspark.sql.functions import year, month, dayofmonth
df = df.withColumn("year", year('start_time'))
df = df.withColumn("month", month('start_time'))
df = df.withColumn("day_of_month", dayofmonth('start_time'))

df.show()

+---+--------------------+--------+-------+-------------------+-----------+----+----+-----+------------+
|_c0|          start_time|pressure|temp(f)|weather_description|day_of_week|hour|year|month|day_of_month|
+---+--------------------+--------+-------+-------------------+-----------+----+----+-----+------------+
|  0|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  1|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  2|2017-06-28 09:49:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  3|2017-06-28 09:50:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  4|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  5|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  6|2017-06-28 09:58:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  7|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
|  8|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
|  9|2017-06-28 10:09:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 10|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 11|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 12|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 13|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 14|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 15|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 16|2017-06-28 10:14:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 17|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 18|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 19|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
+---+--------------------+--------+-------+-------------------+-----------+----+----+-----+------------+
only showing top 20 rows

In [150]:
# Filtering out weekend days (day 1 is Sunday, day 7 is Saturday)
df_weekdays = df.filter( (df["day_of_week"] > 1) | (df['day_of_week'] < 7) )

In [151]:
df_weekdays.show()

+---+--------------------+--------+-------+-------------------+-----------+----+----+-----+------------+
|_c0|          start_time|pressure|temp(f)|weather_description|day_of_week|hour|year|month|day_of_month|
+---+--------------------+--------+-------+-------------------+-----------+----+----+-----+------------+
|  0|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  1|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  2|2017-06-28 09:49:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  3|2017-06-28 09:50:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  4|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  5|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  6|2017-06-28 09:58:...|  1021.0|   62.0|         light_rain|          4|   9|2017|    6|          28|
|  7|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
|  8|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
|  9|2017-06-28 10:09:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 10|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 11|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 12|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 13|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 14|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 15|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 16|2017-06-28 10:14:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 17|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 18|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
| 19|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|2017|    6|          28|
+---+--------------------+--------+-------+-------------------+-----------+----+----+-----+------------+
only showing top 20 rows

In [152]:
#To do
#Filter out holidays

In [146]:
# Save the hour of the day as a new column
from pyspark.sql.functions import hour
df = df.withColumn("hour", hour('start_time'))
df.show()

+---+--------------------+--------+-------+-------------------+-----------+----+
|_c0|          start_time|pressure|temp(f)|weather_description|day_of_week|hour|
+---+--------------------+--------+-------+-------------------+-----------+----+
|  0|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|   9|
|  1|2017-06-28 09:47:...|  1021.0|   62.0|         light_rain|          4|   9|
|  2|2017-06-28 09:49:...|  1021.0|   62.0|         light_rain|          4|   9|
|  3|2017-06-28 09:50:...|  1021.0|   62.0|         light_rain|          4|   9|
|  4|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|   9|
|  5|2017-06-28 09:56:...|  1021.0|   62.0|         light_rain|          4|   9|
|  6|2017-06-28 09:58:...|  1021.0|   62.0|         light_rain|          4|   9|
|  7|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|  10|
|  8|2017-06-28 10:00:...|  1015.0|   64.0|         light_rain|          4|  10|
|  9|2017-06-28 10:09:...|  1015.0|   64.0|         light_rain|          4|  10|
| 10|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|  10|
| 11|2017-06-28 10:11:...|  1015.0|   64.0|         light_rain|          4|  10|
| 12|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|  10|
| 13|2017-06-28 10:12:...|  1015.0|   64.0|         light_rain|          4|  10|
| 14|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|  10|
| 15|2017-06-28 10:13:...|  1015.0|   64.0|         light_rain|          4|  10|
| 16|2017-06-28 10:14:...|  1015.0|   64.0|         light_rain|          4|  10|
| 17|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|
| 18|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|
| 19|2017-06-28 10:16:...|  1015.0|   64.0|         light_rain|          4|  10|
+---+--------------------+--------+-------+-------------------+-----------+----+
only showing top 20 rows

In [153]:
grouped_df = df.groupBy(['year', 'month', 'day_of_month', 'hour', 'day_of_week', 'pressure', 'temp(f)', 'weather_description']).count()
#grouped_df = df.groupBy(['hour']).count()
grouped_df.show()

+----+-----+------------+----+-----------+--------+-------+-------------------+-----+
|year|month|day_of_month|hour|day_of_week|pressure|temp(f)|weather_description|count|
+----+-----+------------+----+-----------+--------+-------+-------------------+-----+
|2017|    7|           1|   2|          7|  1017.0|   61.0|         light_rain|    3|
|2017|    7|           6|   9|          5|  1019.0|   66.0|       thunderstorm|  113|
|2017|    7|          29|   2|          7|  1014.0|   59.0|         light_rain|    3|
|2017|    7|          31|   2|          2|  1018.0|   60.0|         light_rain|    1|
|2017|    8|           9|  13|          4|  1016.0|   68.0|             cloudy|   96|
|2017|    8|          20|  18|          1|  1011.0|   76.0|        clear_skies|   95|
|2017|    8|          31|  15|          5|  1009.0|   89.0|              foggy|  137|
|2017|    9|           6|   5|          4|  1014.0|   66.0|              foggy|   17|
|2017|    9|           8|  15|          6|  1012.0|   77.0|        clear_skies|  184|
|2017|    9|          17|  13|          1|  1016.0|   72.0|             cloudy|  215|
|2017|    9|          21|  11|          5|  1013.0|   65.0|             cloudy|  160|
|2017|    9|          27|  14|          4|  1012.0|   86.0|        clear_skies|  109|
|2017|   10|           5|  16|          5|  1015.0|   81.0|        clear_skies|  268|
|2017|   10|           7|  21|          7|  1009.0|   64.0|        clear_skies|   52|
|2017|   10|          16|  21|          2|  1017.0|   67.0|              foggy|  172|
|2017|   10|          28|  21|          7|  1013.0|   59.0|         light_rain|   36|
|2017|   11|           4|  22|          7|  1018.0|   53.0|             cloudy|   34|
|2017|   11|           8|   5|          4|  1016.0|   50.0|             cloudy|   16|
|2017|   11|           8|  19|          4|  1012.0|   64.0|         light_rain|  278|
|2017|   11|          10|  15|          6|  1017.0|   65.0|         heavy_rain|  171|
+----+-----+------------+----+-----------+--------+-------+-------------------+-----+
only showing top 20 rows

In [154]:
#This is a simple data set with day of the week, hour and bikeride count
#simple_df = df.groupBy(['hour', 'day_of_week']).count()
#simple_df.show()

In [155]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
from numpy.random import seed
seed(1)

In [156]:
import pandas as pd
pandas_df = grouped_df.toPandas()

In [157]:
#Removing rows with no hours
pandas_df = pandas_df[pandas_df.hour.notnull()]

In [158]:
#Count number of rows
pandas_df.shape

(9606, 9)

In [192]:
#X = pandas_df.drop("count", axis=1)
X = pandas_df.drop(columns=['year', 'month', 'day_of_month', 'pressure', 'temp(f)', 'weather_description', 'count'], axis=1)
y = pandas_df["count"]
print(X.shape, y.shape)

(9606, 2) (9606,)

In [193]:
#X

In [194]:
#np.unique(y)

In [195]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=None)

#Using stratify=y failed, throwing error. What does it actually do?
#X_train, X_test, y_train, y_test = train_test_split(
#    X, y, random_state=1, stratify=y)

In [196]:
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [197]:
# No need to label-encode y (because it's made of numbers)
#label_encoder = LabelEncoder()
#y_scaler = StandardScaler().fit(y_train)
#y_train_scaled = y_scaler.transform(y_train)
#y_test_scaled = y_scaler.transform(y_test)

#Do I need one-hot encoding even if the labels were not strings?

# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [201]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=3))
model.add(Dense(units=2, activation='softmax'))

In [202]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [203]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

ValueError: Error when checking input: expected dense_5_input to have shape (3,) but got array with shape (2,)